@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");

body {
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

.open .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
  background: #112d32;
  z-index: 2;
}

.open .layer:nth-child(2) {
  background: #254e58;
  animation-delay: 1s;
  z-index: 1;
}

@keyframes open {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #88bdbc;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 700px;
}

.bannerText h2,
.bannerText h3 {
  position: relative;
  margin: 0;
  padding: 0 5px;
  display: inline-block;
  transform-origin: left;
  text-transform: uppercase;
  transform: scaleX(0);
  animation: revealTextReverse 1s ease-in-out forwards;
}

.bannerText h2 {
  font-size: 6em;
  animation-delay: 2s;
}

.bannerText h3 {
  font-size: 3em;
  animation-delay: 3s;
}

.bannerText h2:before,
.bannerText h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #254e58;
  width: 100%;
  height: 100%;
  transform-origin: right;
  animation: revealText 1s ease-in-out forwards;
  animation-delay: 	3s;
}

.bannerText h3:before {
  animation-delay: 4s;
}

@keyframes revealText {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes revealTextReverse {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.bannerText p {
  opacity: 0;
  margin-left: 5px;
  width: 80%;
  font-weight: 400;
  font-size: 1.2em;
  animation: fadeIn 1s linear forwards;
  animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a.read-more {
  opacity: 0;
  display: inline-block;
  margin: 20px 5px 0;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  animation: fadeInBottom 0.5s linear forwards;
  animation-delay: 5.5s;
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

	.img {
	  opacity: 0;
	  position: absolute;
	  right: 5%;
	  top: 50%;
	  transition: 3s;
	  transform: translateY(-50%);
	  animation: fadeIn 3s linear forwards;
	  animation-delay: 6s;
	  z-index: 100;
	}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 10000;
}

.header .logo {
  opacity: 0;
  margin: 0;
  padding: 0 5px;
  font-size: 2em;
  text-transform: uppercase;
  animation: fadeIn .5s linear forwards;
  animation-delay: 6s;
}

.header ul {
  margin: 0;
  padding: 0;
  z-index: 100;
  display: flex;
}

.header ul li {
  opacity: 0;
  list-style: none;
  margin: 0 10px;
  animation: fadeInRight 0.5s linear forwards;
}

.header ul li:nth-child(1),
.social li:nth-child(1) {
  animation-delay: 4s;
}

.header ul li:nth-child(2),
.social li:nth-child(2) {
  animation-delay: 4.25s;
}

.header ul li:nth-child(3),
.social li:nth-child(3) {
  animation-delay: 4.50s;
}

.header ul li:nth-child(4),
.social li:nth-child(4) {
  animation-delay: 4.75s;
}

.header ul li:nth-child(5){
  animation-delay: 5s;
}

.header ul li:nth-child(6){
  animation-delay: 6.25s;
}

.header ul li:last-child {
  margin-right: 0;
}

.header ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  padding: 5px 10px;
  margin: 0;
  background: #88bdbc;
  letter-spacing: 2px;
}

.header ul li a.active,
.header ul li a:hover {
  background: #fff;
  color: #000;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

 .fas{
    display: none;
  }

.element1{
  opacity: 0;
  position: absolute;
  bottom: -180px;
  right: 40%;
  width: 250px;
  height: 250px;
  border: 40px solid #fff;
  animation: rotate 40s linear infinite, 
          fadeIn 1s linear forwards;
  animation-delay: 7s;
}

.element2{
  opacity: 0;
  position: absolute;
  bottom: 50%;
  left: -20px;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  animation: rotate 30s linear infinite, 
          fadeIn 1s linear forwards;
  animation-delay: 7s;
}

@keyframes rotate {
  0%{
    transform: rotate(45deg);
    opacity: 0;
  }
  100%{
    transform: rotate(405deg);
    opacity: 1;
  }
}


/* Start responsive design */

@media (max-width: 1280px){
  section {
    display: initial;
    padding: 100px;
    box-sizing: border-box;
  }
  
  .bannerText{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 100px;
    transform: translateY(0);
    max-width: 700px;
    z-index: 1001;
  }
  
  .social {
    z-index: 1002;
    right: 20px;
  }
  
} /* End @media 1280px */

@media (max-width: 1000px){
  section{
    padding: 50px 80px 50px 50px;
  }
  
  .bannerText h2 {
    font-size: 3em;
  }
  
  .bannerText h3 {
    font-size: 1.5em;
  }
  
  .fas{
    font-size: 28px;
    display: block;
  }
  
  i.fas.fa-times{
    padding: 0 9%;
    position: absolute;
    top: 30px;
    right: 0;
  }
  
  .header {
    padding: 50px;
  }
  
  .header ul {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1010;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  .header ul.show{
    display: flex;
  }
  
  .header ul li {
    padding: 10px 0;
  }
  
  .header ul li:nth-child(1),
  .header ul li:nth-child(2),
  .header ul li:nth-child(3),
  .header ul li:nth-child(4),
  .header ul li:nth-child(5),
  .header ul li:nth-child(6){
    animation-delay: 0s !important;
  }
  
  .img {
    top: 45%;
    height: 200px;
    transition: 3s;
  }
}

@media (max-height: 750px){
  .element1{
    display: none;
  }
}