* {margin: 0; padding: 0; box-sizing: border-box}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #EBFFFF;
}

#wrapper {
  width: 960px;
  margin: 2em auto;
}

h1 {
  margin-bottom: 1em;
  text-align: center;
  color: #400080;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

h1:before,
h1:after {
  content: "";
  display: inline-block;
  width: 100px;
  border-bottom: 4px solid #fff;
  position: absolute;
  top: 50%;
}

h1:before {
  left: 25%;
}

h1:after {
  left: 65%;
}
.movie {
  display: flex; 
  width: 700px;
  height: 200px;
  background-color: #fff;
  box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.175);
  margin: 0 auto 2em;
  border-radius: 5px;
}

.movie-number {
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  line-height: 2em;
  text-align: center;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #a9b1e6;
  margin: auto 0;
  border-radius: 0 5px 5px 0;
}

.movie-poster {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.movie-poster img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.movie-title {
  margin-bottom: 0.4em;
}

.movie-info {
  width: 400px;
  padding: 1em;
  border-left: 2px solid #e1e1e1;
  color: #343333;
  overflow: hidden;
  line-height: 1.4;
  word-break: break-all;
}   

.movie-info p {
  padding: 0;
  margin: 0;
}
  
footer {
  background-color: #a9b1e6;
  text-align: center;
  padding: 1em 0;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

footer span {
  color: #d62835;
}
