.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-title {
  font-size: 28px;
  font-weight: 600;
}

.search-section {
  position: relative;
}

.search-input {
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 8px;
  padding-left: 34px;
}

.product-breadcumb {
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 500;
}

.product-container {
  display: flex;
}

.product-img {
  width: 300px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.product-description-container {
  margin-left: 4rem;
}

.product-title {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.product-title p{
	font-weight: 1600;
	margin-bottom: 1rem;
	font-size: 0.85rem;
}

.product-row {
  margin-bottom: 1rem;
}

.label {
  font-weight: 600;
  font-size: 13px;
}

.value {
}

.search-icon-svg {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
